html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #626262;
}
.container {
  width: 900px;
  margin: 0 auto;
  font-size: 0;
}
.navigation {
  padding-top: 76px;
  padding-bottom: 100px;
}

.navigation-menu {
  list-style: none;
  text-align: center;
  font-size: 0;
}
.navigation-menu-item {
  display: inline-block;
  margin-right: 120px;
}
.navigation-menu-item:last-child {
  margin-right: 0;
}
.navigation-menu-link {
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

/* main-section */
.card {
  display: inline-block;
  width: 422px;
  vertical-align: top;
  margin-right: 56px;
  font-size: 14px;
}
.card:nth-child(2n) {
  margin-right: 0;
}
.card-subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 14px;
}
.card-image {
  margin-bottom: 30px;
}
.card-title {
  margin-bottom: 30px;
  font-size: 30px;
}
.card-description {
  margin-bottom: 30px;
  }
.border-box {
      width: 164px;
      height: 60px;
      margin: 0 auto;
      }
      
  .button-style {
    width: 100%;
    height: 100%;
    font-family: "Playfair Display", "Arial", serif;
    font-size: 20px;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid #626262;
     }

     .box {
      height: 70px;
    }
    
  