* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Roboto', sans-serif, 'Open Sans';
    font-size: 14px;
    background-color: #555252;
    } 
.clearfix::after {
content: "";
display: table;
clear: both;
}
.logotype {
display: inline-block;
margin-left: 260px;
}
.header {
    margin-top: 38px;
}
.site-navigation {
width: 560px;
float: right;
margin: 0;
padding: 0;
font-size: 14px;
list-style: none;
margin-top: 4px;
}
.site-navigation li {
float: left;
margin-left: 30px;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: #0f0101;

}
a {
text-decoration: none;
color: #0f0101;
}
a:hover {
color: #1abc9c;
}
.header-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 110px;
    font-size: 48px;
    color: #515151;
}
    .header-title::after {
    display: block;
    content: "";
    background-color: #1abc9c;
    width: 160px;
    height: 8px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 92px;
}


    /*roducts*/

.products {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.product-list-item {
    width: 255px;
    height: 323px;
    float: left;
    margin-right: 30px;
    list-style-type: none;
}
.product-list-item:nth-child(4n) {
    margin-right: 0;
}
.card-img {
    display: block;
    width: 255px;
    right: 323px;
    margin-bottom: -37px;
}
.product-item-button {
    width: 255px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(50, 50, 50);
    color: white;
    border: none;
    }
.span-name {
    text-align: left;
    font-size: 18px;
    float: left;
    width: 200px;
    padding-top: 10px;
    padding-left: 12px;
    }
    .span-money {
        float: left;
        width: 55px;
        height: 40px;
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.4);
        padding-top: 10px;
    }
  .product-list-item:hover .product-item-button {
  background-color: #1abc9c
}

    /*latest news*/

.main-subtitle {
    text-transform: uppercase;
    text-align: center;
    margin-top: 110px;
    font-size: 48px;
    color: #515151;
    margin-top: 105px;
    }

.main-subtitle::after {
    display: block;
    content: "";
    width: 160px;
    height: 8px;
    background-color:  #4ec6ab;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 80px;
    
    }
    .news-list {
      width: 1100px;
      float: left;
      list-style-type: none;
      text-align: left;
    }
    .news-link-item {
    display: block;
    float: left;
    width: 365px;
    height: 500px;
    
    }
    .card-img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .news-list-text {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: #555252;
        font-weight: bold;
        margin-top: 15px;
    }
    .line-fotter {
        width: 136px;
        height: 3px;
        background-color: #4ec6ab;
        margin-top: 15px;
    }
    .news-list-position {
        font-size: 14px;
        color: #555252;
        font-family: 'Open Sans',  sans-serif;
        margin-top: 30px;
    }
    .news-button {
        width: 150px;
        height: 60px;
        font-size: 16px;
        border-radius: 3px;
        background-color: rgb(78, 198, 171);
        color: white;
        text-transform: capitalize;
        margin-top: 20px;
        margin-bottom: 82px;
        border: none;
    }
      
      
    
  