* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif, 'Open Sans';
    font-size: 14px;
    background-color: #555252;
    } 

.clearfix::after {
content: "";
display: table;
clear: both;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    
    }

.header {
padding-top: 43px;
padding-bottom: 38px;
}

.logotype {
display: inline-block;
margin-left: 245px;
}

.site-navigation {
width: 590px;
float: right;
margin: 0;
padding: 0;
font-size: 14px;
list-style: none;
margin-top: 4px;
padding-bottom: 40px;
}
 
.site-navigation li {
float: left;
margin-left: 35px;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
a {
text-decoration: none;
color: #0f0101;
}
a:hover {
color: #1abc9c;
}
.title {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.title-span {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.girl {
    min-height: 600px;
    position: relative;
    background-image: url(../img/girl2.png);
}
.girl__content {
    width: 746px;
    letter-spacing: -1.2px;
    position: absolute;
    top: 206px;
    left: 50%;
    transform: translateX(-50%);
}

.aroow {
    position: relative;
    width: 1100px;
    transform: translateX(-50%);
    left: 50%;
    top: 225px;
}

.arrow-left {
    width: 104px;
    height: 104px;
    background-color: rgba(26, 188, 156, 0.65);
    border: none;
    float: left;
}

.arrow-right {
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    border: none;
    float: right;
}

.new-collection {
    font-size: 48px;
    font-family: 'Roboto' Black, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 31px;
}
.new-collection::after {
    display: block;
    content: "";
    background-color: #1abc9c;
    width: 160px;
    height: 8px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 80px;
}
.new {
    min-height: 676px;
    list-style-type: none;
    background-color: #e9f0fd;
}
.page-background {
    position: relative;
    width: 1600px;
    height: 676px;
}
.product-list-item {
    position: relative;
    display: block;
    width: 255px;
    height: 322px;
    float: left;
    list-style-type: none;
    background-image: url(../img/fon\ girl.png);
    
    }
.overlay {
    width: 100%; 
    height: 283px;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    opacity: 0.549;
    position: absolute;
    top: 0%;
    left: -50%;
    transform: translatex(50%);
      
}

.box4 {
float: left;
background-color: #323232;
color: white;
text-transform: uppercase;
font-size: 14px;
position: absolute;
width: 165px;
height: 50px;
top: 54%;
left: 50%;
transform: translate(-50%, -50%);
border: none;
}

.box2 {
    background-image: url(./img/icon2.png);
    background-color: #46bfa9;
    border: none;
    background-repeat: no-repeat;
   background-position: center;
}

.box4-span {
    background-image: url(./img/icon4.png);
    text-align: center;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    width: 116px;
    background-repeat: no-repeat;
   background-position: center;
}

.box {
    width: 167px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white;
}

.product-list-item:not(:last-child) {
    margin-right: 30px;
}

.product-list-item:hover .item-button {
    background-color: rgb(26, 188, 156);
    }
.item-button {
    position: absolute;
    width: 255px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(50, 50, 50,);
    bottom: 0px;
    left: 0%;
    }
    
.name-span {
    width: 200px;
    height: 40px;
    display: block;
    float: left;
    font-size: 18px;
    background-color: #323232;
    padding-top: 8px;
    padding-left: 12px;
    text-align: left;
    }
.name-money {
    width: 55px;
    height: 40px;
    font-size: 18px;
    padding-top: 8px;
    padding-left: 12px;
    text-align: center;
    float: right;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(#ffffff70, #ffffff70);
    }
.footer {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 32px;
    background-color: #323232;
    color: white;
    text-transform: capitalize;
}
.footer2 {
    text-align: center;
    color: #46bfa9;
}